.detail-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.detail-col-img {
    width: 20rem;
}

.detail-col-description {
    width: 35rem;
}

.card {
    height: 100%;
}