.navbar {
    padding: 0px;
    height: 90px;
}

.navbar .container {
    flex-wrap: nowrap;
}

.contenedor-navbar {
    max-width: none;
    height: 90px;
}

.navbar-collapse {
    justify-content: end;
}

.me-auto {
    margin-right: 0px !important;
}

.nav-link {
    text-decoration: none;
}
