.card-row{
    justify-content: space-evenly;
}

.card-col {
    margin: 12px;
    padding: 0px;
}

.item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}

.item-link:hover {
    color: rgba(0, 0, 0, 0.7);
}